@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #E9ECF8;
    --secundary-color: #0A3871;
    --tertiary-color: #f3f4f8;

    --primary-font: 'Inter', sans-serif;
    --secundary-font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
    
}

.logo {
    width: 8%;
    margin: 1rem 3rem 2rem 1rem;
}

.header-image {
    width: 31rem;
    height: 7rem;
    margin-left: 34.1rem;
}

.caption {
    font-family: var(--secundary-font);
    margin-left: 45rem;
}

.main {
    padding-left: 2rem;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    gap: 3rem;
}

.input-text {
    font-family: var(--primary-font);
    font-size: 1.8rem;
    border: none;
    color: var(--secundary-color);
    margin-top: 2.8rem;
    text-transform: lowercase;
}

::placeholder {
    color: var(--secundary-color);
    font-family: var(--primary-font);
    font-size: 1.6rem;
}
    .input-text:focus {
    outline: none;
}

.label-text {
    font-family: var(--secundary-font);
    color: var(--secundary-color);
    font-size: 1rem;
}

.button {
    display: flex;
    margin-top: 1rem;
    gap: 2rem;
}

.button__encrypt {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: var(--secundary-font);
    background-color: var(--secundary-color);
    border: 1px solid var(--secundary-color);
    border-radius: 1.5rem;
    color: var(--tertiary-color);
    cursor: pointer;
    width: 20rem;
    height: 4.1rem;
}

.button__decrypt {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: var(--secundary-font);
    background: var(--primary-color);
    border: 1px solid var(--secundary-color);
    border-radius: 1.5rem;
    color: var(--secundary-color);
    cursor: pointer;
    width: 20rem;   
}

.final-text {
    font-family: var(--primary-font);
    font-size: 1.8rem;
    background-color: var(--tertiary-color);
    border: none;
    border-radius: 1rem;
    color: var(--secundary-color);
    margin-top: 2.8rem;
    position: absolute;
}

.final-text:focus {
    outline: none;
}

.button__copy {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: var(--secundary-font);
    border: 1px solid var(--secundary-color);
    border-radius: 1.5rem;
    color: var(--secundary-color);
    cursor: pointer;
    height: 3.8rem;
    margin-left: 5.5rem;
    margin-top: 23rem;
    position: absolute;
    width: 16rem;
}

.footer {
    padding: .5rem;
    background-color: var(--secundary-color);
    color: var(--tertiary-color);
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--secundary-font);
    margin-top: 3rem;
}

@media (max-width: 1200px) {
    body {
        height: 100vh;
    }

    .header-image {
        display: none;
    }

    .caption {
        display: none;
    }
    .main {
        flex-direction: column;
    }

    .input-text {
        width: auto;
        font-size: 1rem;
    }

    ::placeholder {
        font-size: 1rem;
    }

    .label-text {
        font-size: .5rem;
    }

    .button {
        gap: 1rem;
    }

    .button__encrypt {
        font-size: .8rem;
        width: 8rem;
        height: 3rem;
    }

    .button__decrypt {
        font-size: .8rem;
        width: 8rem;
        height: 3rem;
    }
    
    .final-text {
        font-size: 1rem;
        position: absolute;
        width: 70%;
        margin-top: 1rem;
    }

    .button__copy {
        font-size: 1rem;
        width: 10rem;
        height: 3rem;
        margin-left: 3.5rem;
        margin-top: 15rem;
    }

    .footer {
        font-size: .7rem;
    }
}